[Unit]
Description=SOC Inspector (Team 6)
After=network.target

[Service]
Type=forking
User=ubuntu
WorkingDirectory=/home/ubuntu/app
EnvironmentFile=/home/ubuntu/.soc_env
Environment=ADMIN_USER=admin
Environment=ADMIN_PASS=inspector-admin-2026
ExecStart=/home/ubuntu/app/start.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
